<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главное меню</title>
    <link rel="stylesheet" type="text/css" href="{{ dated_url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/hospital-favicon128x128.ico') }}">
</head>
<body>
    <div class="img"></div>
	<div class="container">
		<h2>Добро пожаловать в главное меню информационной системы "Госпиталь".</h2>
		<hr>
		<h3>Главное меню</h3>
		<ul class="main_nav main_menu">
            <li>
                <a href="?point=1">
                    <span class="defis"></span>
                    <div></div>
                    <span>Назначить лечащего врача</span>
                </a>
            </li>
            <li>
                <a href="?point=2">
                    <span class="defis"></span>
                    <div></div>
                    <span>Сделать запись в историю болезни</span>
                </a>
            </li>
			<li>
                <a href="?point=3">
                    <span class="defis"></span>
                    <div></div>
                    <span>Редактирование данных пациентов</span>
                </a>
            </li>
			<li>
                <a href="?point=4">
                    <span class="defis"></span>
                    <div></div>
                    <span>Прием пациентов</span>
                </a>
            </li>
			<li>
                <a href="?point=5">
                    <span class="defis"></span>
                    <div></div>
                    <span>Выполнение запросов</span>
                </a>
            </li>
			<li>
                <a href="?point=6">
                    <span class="defis"></span>
                    <div></div>
                    <span>Получить отчет</span>
                </a>
            </li>
		</ul>
        <br>
		<a href="?out" class="out_btn">Выход</a>
	</div>
</body>
</html>