<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Меню запросов</title>
    <link rel="stylesheet" type="text/css" href="{{ dated_url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/hospital-favicon128x128.ico') }}">
</head>
<body>
    <div class="img"></div>
	<div class="container">
		<h3>Меню запросов</h3>
		<ul class="main_nav">
            <li>
                <a href="?point=1">
                    <span class="defis"></span>
                    <div></div>
                    <span>Запрос о количестве пациентов лечащих врачей определенного отделения за определенный период</span>
                </a>
            </li>
            <li>
                <a href="?point=2">
                    <span class="defis"></span>
                    <div></div>
                    <span>Отчет о количестве мест в отделениях госпиталя</span>
                </a>
            </li>
			<li>
                <a href="?point=3">
                    <span class="defis"></span>
                    <div></div>
                    <span>Все сведенья о враче, проработавшем дольше всех</span>
                </a>
            </li>
			<li>
                <a href="?point=4">
                    <span class="defis"></span>
                    <div></div>
                    <span>Все сведенья о пациентах, поступивших в первый день работы госпиталя</span>
                </a>
            </li>
			<li>
                <a href="?point=5">
                    <span class="defis"></span>
                    <div></div>
                    <span>Все сведенья о врачах, не назначавшихся ни разу лечащими</span>
                </a>
            </li>
			<li>
                <a href="?point=6">
                    <span class="defis"></span>
                    <div></div>
                    <span>Фамилии врачей, не назначавшихся лечащими за определенный период</span>
                </a>
            </li>
		</ul>

        <a href="?back" class="back_btn out_btn">Назад</a>
        <a href="?out" class="out_btn open-modal-all">Выход</a>
	</div>
</body>
</html>